@import "tailwindcss";
@import "tailwindcss/theme" layer(theme);
@theme {
  --color-primary: #2D3A3A;
  --color-forest:#386641;
  --color-secondary: #8DB098;
  --color-Terracotta: #C27357;
  --color-sky:#B0D0D3;
  --font-cairo: "Cairo", sans-serif;
  --spacing-128: 32rem;
}

/* ----- BASE ----- */
@layer base {
  body {
    @apply  bg-[#F9FAF1] text-gray-900;
  }
}

/* ----- COMPONENTS ----- */
@layer components {
  .btn {
    @apply bg-primary text-white px-4 py-2 rounded-lg hover:bg-primary/90;
  }
  .btn-green{
    @apply bg-se text-white
  }

  .card {
    @apply bg-white p-6 rounded-xl shadow;
  }
  
}

.container{
  width:90%;
  margin:auto;
}