@import "tailwindcss";
@import "tailwindcss/theme" layer(theme);
@theme {
  --color-primary: #4f46e5;
  --color-secondary: #64748b;

  --font-cairo: "Cairo", sans-serif;

  --spacing-128: 32rem;
}

/* ----- BASE ----- */
@layer base {
  body {
    @apply  bg-gray-100 text-gray-900;
  }
}

/* ----- COMPONENTS ----- */
@layer components {
  .btn {
    @apply bg-primary text-white px-4 py-2 rounded-lg hover:bg-primary/90;
  }
  .btn-

  .card {
    @apply bg-white p-6 rounded-xl shadow;
  }
}